<header class="bg-slate-50 shadow-md sticky top-0 z-50">
  <div class="container mx-auto px-2">
    <div class="flex flex-col sm:flex-row items-center justify-between py-4 sm:py-2">
      <a routerLink="/" class="text-slate-700 hover:text-sky-500 font-medium transition-colors duration-200 text-lg sm:text-base">
        <div class="flex items-center mb-2 sm:mb-0">
          <img 
            src="/logo.png" 
            alt="Logo" 
            class="h-20 sm:h-28 w-auto"
          />
        </div>
      </a>
      <nav class="flex flex-col sm:flex-row items-center sm:space-x-2">
        <a routerLink="/" class="text-slate-700 hover:text-sky-500 font-medium transition-colors duration-200 text-lg sm:text-base">
          Početna
        </a>
        <a *ngIf="!isLoggedIn()" routerLink="/registration" class="text-slate-700 hover:text-sky-500 font-medium transition-colors duration-200 text-lg sm:text-base">
          Registracija
        </a>
        <a *ngIf="!isLoggedIn()" routerLink="/login" class="text-slate-700 hover:text-sky-500 font-medium transition-colors duration-200 text-lg sm:text-base">
          Prijava
        </a>
        <a *ngIf="isLoggedIn()" routerLink="/cart" class="text-slate-700 hover:text-sky-500 font-medium transition-colors duration-200 text-lg sm:text-base">
          Korpa
        </a>
        <a *ngIf="isLoggedIn()" routerLink="/profile" class="text-slate-700 hover:text-sky-500 font-medium transition-colors duration-200 text-lg sm:text-base">
          Profil
        </a>
        <a *ngIf="isLoggedIn()" (click)="logout()" class="text-slate-700 hover:text-sky-500 font-medium transition-colors duration-200 text-lg sm:text-base cursor-pointer">
          Odjava
        </a>
      </nav>
    </div>
  </div>
</header>

<router-outlet />
